@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}
.container {
    display: flex;
    flex-direction: column;
}
#education-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.education {
    display: flex;
    flex-direction: column;;
    align-items: center;
    justify-content: center;
}
.cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    align-self: center;
}
#education-cover-profile {
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;;
    height: 100px;
    width: 100px;
}
#circle-1, #circle-2, #circle-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid;
    border-radius: 50%;
}
#circle-1 {
    border-color: #799692;
}
#circle-2 {
    border-color: #B8C0C7;
}
#circle-3 {
    border-color: #F2EBFC;
    box-shadow: 0px 2px 6px 1px gray;
}
.education-info {
    text-align: justify;
}