<section id="education-section">
  <div class="container">
    <h1 class="title title-regular">Education</h1>
    <div class="education">
      <div class="cover">
        <img src="img/logofime.png" height="40px" />
        <div>
          <div id="circle-3">
            <div id="circle-2">
              <div id="circle-1">
                <img id="education-cover-profile" src="img/Profile-fime.png" />
              </div>
            </div>
          </div>
        </div>
        <img src="img/logouanl.png" height="40px" />
      </div>
      <div class="education-info mg-top-20 pd-left-20 pd-right-20">
        <p class="text-bold no-mg" style="font-size: 17px;">
          Facultad de Ingeniería Mecánica y Eléctrica
        </p>
        <p class="text-regular no-mg">UANL</p>
        <div class="current-property mg-top-5 mg-bottom-5">
          <img src="icons/green-dot.png" />
          <p class="text-regular">Current</p>
        </div>
        <p class="text-regular no-mg">
          I’m a Software Technologies Engineering student, doing my last
          semester at the Facultad de Ingeniería Mecánica y Eléctrica at UANL.
        </p>
      </div>
    </div>
  </div>
</section>
