<section id="about">
    <div class="container">
        <p class="title title-regular">About me</p>
        <p class="text-regular">
        I'm a dedicated Software Engineering student, doing my last semester at the
        Facultad de Ingeniería Mecánica y Eléctrica at UANL. My focus is on Web
        Development, and I’m passionate about creating user-friendly and beautiful web
        applications.
        </p>
        <div id="about-buttons">
            <button class="primary-button mg-right-5">Read more</button>
            <div class="button-combined mg-left-5">
                <img src="/icons/curriculum-icon.png"/>
                <p class="text-regular">Resume</p>
            </div>
        </div>
        
    </div>
</section>

