<nav>
    <div class="container expanded-nav">
        <a class="title logo-regular no-mg" (click)="scrollTo('home')">VG</a>
        <div class="tabs">
            <div>
                <a class="tab tab-regular pointer" (click)="scrollTo('home')">HOME</a>
            </div>
            <div>
                <a class="tab tab-regular pointer"  (click)="scrollTo('about')">ABOUT</a>
            </div>
            <div>
                <a class="tab tab-regular pointer" (click)="scrollTo('projects')">PROJECTS</a>
            </div>
            <div>
                <a class="tab-regular pointer" (click)="scrollTo('connect')">CONNECT</a>
            </div>
        </div>
    </div>
</nav>