<nav>
    <div class="container expanded-nav">
        <p class="title logo-regular no-mg">VG</p>
        <div class="tabs">
            <div>
                <a class="tab tab-regular pointer">HOME</a>
            </div>
            <div>
                <a class="tab tab-regular pointer">ABOUT</a>
            </div>
            <div>
                <a class="tab tab-regular pointer">PROJECTS</a>
            </div>
            <div>
                <a class="tab-regular pointer">CONTACT</a>
            </div>
        </div>
    </div>
</nav>