<section id="connect-section">
    <div class="container">
        <img src="img/Connections.webp" class="mg-bottom-10" width="300px" style="margin-right: -13px;">
        <h1 class="title title-regular no-mg">Let's Connect!</h1>
        <p class="text-regular no-mg" style="font-size: 13px;">Feel free to reach out, a friendly hello makes my day better😁</p>
        <div class="social-pack mg-top-10">
            <div id="email">
                <img src="/icons/mail-icon.png" height="26px" />
                <p class="pd-left-5 mg-top-0 mg-bottom-0 text-regular pd-right-10">contact&#64;victorgallegos.com</p>
            </div>
            <img src="/icons/linkedin-icon.png" />
            <img src="/icons/curriculum-icon.png" />
        </div>
    </div>
</section>