<section class="container">
  <div id="intro">
    <img id="profile" src="/img/Profile-circular.webp" />
    <p class="title title-regular">
      I'm Victor, a Web Developer at
      <span class="gradient-text">Epicor.</span> I enjoy creating user-centric
      and delightful experiences.
    </p>
    <div class="social-pack">
        <div id="email">
            <img src="/icons/mail-icon.png" height="26px" />
            <p class="pd-left-5 mg-top-0 mg-bottom-0 text-regular pd-right-10">contact&#64;victorgallegos.com</p>
        </div>
        <img src="/icons/linkedin-icon.png" />
        <img src="/icons/curriculum-icon.png" />
    </div>
  </div>
</section>
<app-about></app-about>